@charset "UTF-8";
/* CSS Document */

.block{
       display:inline-block;
	border:solid 1px;
	border-color: black;
	float:left;	
}

#sidebar{
width: 200px;
height: 900px;
}


.cp{
  fill: blue;
  width: 10px;
    height: 10px;
    stroke:black;
  stroke-width: 1px;
}

.pin{
  stroke:black; 
  fill:black; 
  stroke-width: 2 px;
}
