@CHARSET "UTF-8";
.block{
       display:inline-block;
	border:solid 1px;
	border-color: black;
	float:left;
	
}

#sidebar{
width: 200px;
height: 1500px;
	float:left;
}


.cp{
  width: 10px;
    height: 10px;
    stroke:white;
  stroke-width: 1px;
	fill:none;
}

.pin{
  stroke:black; 
  fill:black; 
  stroke-width: 2px;
}

.cp{
	  fill: blue;

}
